@page
@model IndexModel
@{
    ViewData["Title"] = "Best Homepage EVER!";
}

<h1>Welcome to the best homepage EVER!</h1><br /><br />
<h2>The current server time is:  @Model.Time</h2> <br />
<h3>Have a wonderful day!!</h3>




